dedupratio=10
dedupunit=4k
compratio=4.0
hd=default,user=root,shell=ssh
hd=10.11.20.122,system=10.11.20.122
hd=10.11.20.124,system=10.11.20.124
hd=10.11.20.126,system=10.11.20.126
hd=10.11.20.128,system=10.11.20.128
hd=10.11.60.2,system=10.11.60.2
hd=10.11.60.4,system=10.11.60.4
hd=10.11.60.6,system=10.11.60.6
hd=10.11.60.8,system=10.11.60.8

sd=default,openflags=directio,align=4k,threads=30
sd=sd1,lun=/dev/sdb
sd=sd2,lun=/dev/sdc
sd=sd3,lun=/dev/sdd
sd=sd4,lun=/dev/sde


wd=read1,sd=*,rdpct=100,xfersize=4k,seekpct=0
#wd=write1,sd=*,rdpct=0,xfersize=4k,seekpct=0
#wd=mixed1,sd=*,rdpct=30,xfersize=4k,seekpct=0

#rd=mixed,wd=mixed1,interval=1,iorate=max,elapsed=600
#rd=write,wd=write1,interval=1,iorate=max,elapsed=600
rd=read,wd=read1,interval=1,iorate=max,elapsed=600
