dedupratio=10
dedupunit=2k
compratio=4.0

hd=default,user=root,shell=ssh
hd=10.11.20.122,system=10.11.20.122
hd=10.11.20.124,system=10.11.20.124
hd=10.11.20.126,system=10.11.20.126
hd=10.11.20.128,system=10.11.20.128
hd=10.11.60.2,system=10.11.60.2
hd=10.11.60.4,system=10.11.60.4
hd=10.11.60.6,system=10.11.60.6
hd=10.11.60.8,system=10.11.60.8

fsd=fsd1,anchor=/data1,depth=2,width=8,files=150,size=(128k,30,512k,30,1m,25,10m,10,20m,5),shared=yes,openflags=o_direct
fsd=fsd2,anchor=/data2,depth=2,width=8,files=150,size=(128k,30,512k,30,1m,25,10m,10,20m,5),shared=yes,openflags=o_direct
fsd=fsd3,anchor=/data3,depth=2,width=8,files=150,size=(128k,30,512k,30,1m,25,10m,10,20m,5),shared=yes,openflags=o_direct
fsd=fsd4,anchor=/data4,depth=2,width=8,files=150,size=(128k,30,512k,30,1m,25,10m,10,20m,5),shared=yes,openflags=o_direct

###  256k Sequential IO
fwd=256K_Sequential_Write,fsd=fsd*,operation=write,xfersize=256k,fileio=sequential,fileselect=random,threads=15
fwd=256K_Sequential_Read,fsd=fsd*,operation=read,xfersize=256k,fileio=sequential,fileselect=random,threads=15

###  256k Random IO
fwd=256K_Random_Write,fsd=fsd*,operation=write,xfersize=256k,fileio=random,fileselect=random,threads=15
fwd=256K_Random_Read,fsd=fsd*,operation=read,xfersize=256k,fileio=random,fileselect=random,threads=15


###  128k Sequential IO
fwd=128K_Sequential_Write,fsd=fsd*,operation=write,xfersize=128k,fileio=sequential,fileselect=random,threads=15
fwd=128K_Sequential_Read,fsd=fsd*,operation=read,xfersize=128k,fileio=sequential,fileselect=random,threads=15


###  128k Random IO
fwd=128K_Random_Write,fsd=fsd*,operation=write,xfersize=128k,fileio=random,fileselect=random,threads=15
fwd=128K_Random_Read,fsd=fsd*,operation=read,xfersize=128k,fileio=random,fileselect=random,threads=15


#### 4K, 8K and 32K/ random / 70% read
fwd=4K_8K_32K_Random_R70_W301,fsd=fsd*,xfersize=(4k,60,8K,30,32k,10),rdpct=70,fileio=random,fileselect=random,threads=60

#### 4K IOPS
# 4K Random Read
fwd=4K_Random_Read1,fsd=fsd*,operation=read,xfersize=4k,fileio=(random),fileselect=random,threads=60
#fwd=4K_Random_Read1,fsd=fsd*,operation=read,xfersize=4k,fileio=(random,shared),fileselect=random,threads=60
# 4K Random Write
fwd=4K_Random_Write1,fsd=fsd*,operation=write,xfersize=4k,fileio=random,fileselect=random,threads=60
# 4K Sequential Read
fwd=4K_Sequential_Read1,fsd=fsd*,operation=read,xfersize=4k,fileio=sequential,fileselect=random,threads=60
# 4K Sequential Write
fwd=4K_Sequential_Write1,fsd=fsd*,operation=write,xfersize=4k,fileio=sequential,fileselect=random,threads=60

#### 2K IOPS
# 2K Random Read Hurt
fwd=2K_Random_Read_Hurt1,fsd=fsd*,operation=read,xfersize=2k,fileio=(random),fileselect=random,threads=60


# Run Definitions
rd=4K_8K_32K_Random_R70_W30,fwd=4K_8K_32K_Random_R70_W301,foroperations=(write,read),fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=128K_Sequential_Write,fwd=128K_Sequential_Write,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=128K_Sequential_Read,fwd=128K_Sequential_Read,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=128K_Random_Write,fwd=128K_Random_Write,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=128K_Random_Read,fwd=128K_Random_Read,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10

rd=256K_Sequential_Write,fwd=256K_Sequential_Write,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=256K_Sequential_Read,fwd=256K_Sequential_Read,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=256K_Random_Write,fwd=256K_Random_Write,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=256K_Random_Read,fwd=256K_Random_Read,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10

rd=2K_Random_Read_Hurt,fwd=2K_Random_Read_Hurt1,fwdrate=max,format=restart,elapsed=60,interval=1,pause=10

rd=4K_Random_Read,fwd=4K_Random_Read1,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=4K_Random_Write,fwd=4K_Random_Write1,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=4K_Sequential_Read,fwd=4K_Sequential_Read1,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10
rd=4K_Sequential_Write,fwd=4K_Sequential_Write1,fwdrate=max,format=restart,elapsed=6000,interval=1,pause=10

